/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.main {
    position: relative;
}

canvas {
    position: absolute;
}

.background {
    z-index: 0;
}

.foreground {
    z-index: 1;
}

.animation {
    z-index: 2;
}

.board {

}

.gameHeader {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    background: #fff7e0;
    z-index: 2;
}

.gameHeader .gwt-Label {
    font-family: Times;
    font-size: 32px;
    text-align: center;
}
